<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link rel="icon" href="./favicon.png">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous" />
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#212121"/>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton" class="header__menu">☰</button>
      </div>
      <div class="app-bar__brand">
        <div class="logo">Resto Kita</span></div>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a
              href="https://www.linkedin.com/in/rafaelrinta/"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <div id="loading" class="loading hidden">Loading...</div>
      <div class="restaurant-list"></div>
    </section>
    <main id="mainContent" tabindex="0"></main>

    <footer class="footer">
      <div class="footer__inner">
        <p class="footer__copyright">Copyright © 2024 - Resto Kita</p>
      </div>
    </footer>
  </body>
</html>
